pipeline/pl_covid_population_ingestion_data.json
{
	"name": "pl_covid_population_ingestion_data",
	"properties": {
		"activities": [
			{
				"name": "Validar existencia archivo",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_covid_population_raw_bs",
						"type": "DatasetReference"
					},
					"timeout": "00:00:30",
					"sleep": 10
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validar existencia archivo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_covid_population_raw_bs",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata1').output.columnCount,12)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Covid Data_copy_True",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "date",
												"type": "DateTime",
												"physicalType": "String"
											},
											"sink": {
												"name": "date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "state",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "state",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "city",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "city",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "place_type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "place_type",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "confirmed",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "confirmed",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "deaths",
												"type": "Int32",
												"physicalType": "String"
											},
											"sink": {
												"name": "deaths",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "order_for_place",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "order_for_place",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "is_last",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "is_last",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "estimated_population_2019",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "estimated_population_2019",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "city_ibge_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "city_ibge_code",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "confirmed_per_100k_inhabitants",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "confirmed_per_100k_inhabitants",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "death_rate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "death_rate",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_covid_population_raw_bs",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_covid_population_raw_dl",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}